<table border="1" cellpadding="40">
	<tr>
		<td data-x="0" data-y="0"></td>
		<td data-x="1" data-y="0"></td>
		<td data-x="2" data-y="0"></td>
	</tr>
	<tr>
		<td data-x="0" data-y="1"></td>
		<td data-x="1" data-y="1"></td>
		<td data-x="2" data-y="1"></td>
	</tr>
	<tr>
		<td data-x="0" data-y="2"></td>
		<td data-x="1" data-y="2"></td>
		<td data-x="2" data-y="2"></td>
	</tr>
</table>

<div id="games"></div>

<div id="message"></div>

<button id="save">Save Game</button>
<button id="previous">Show Previous Games</button>
<button id="clear">Clear Current Game</button>


<script type="text/javascript" charset="utf-8">
	$(function() {
		 $('#clear').on('click', function() {
		 	$.post("/games", function() {
				alert('new game')
		 })
		})
})
</script>


<script type="text/javascript" charset="utf-8">
	$(function() {
    var gameId
		 $('button#save').on('click', function() {
		 	$.put("/games"+ gameId, function() {
				alert('update game')
		 })
		})
})
</script>

<script type="text/javascript" charset='utf-8'>
	$(function() {
		$('button#previous').on('click',function() {
				$.get("/games", function(data) {
					previousGames(data)
						// $('#games').
				})
		})
	})
</script>

<script type="text/javascript" charset="utf-8">
$(function() {
	$('td').on('click', function() {
	doTurn(this)
	})
})
</script>
